<div class="container-fluid" style="margin-left:20%;">

 <div class="row datas">
 
   <div class="card" style="width:18rem; color:white; background-color: #072f63; border:1px solid #072f63 !important; cursor:pointer;">
     <img class="card-img-top" src="images/dustbin.jpg" width="70%" height="70%;">
     <div class="card-body">
       <h5 class="card-text text-center" id="statuses">
	       <span> Dustbin 1 - Maitidevi </span>
		   <span id="status"> (Inactive) </span>
		   <br/><br/>
	       <span class="text-info"> Status: </span>
		   <span id="state" class="text-success"> - </span>
		   <br/>
		   <span class="text-warning"> Height Left: </span>
		   <span id="height" class="text-danger"> - </span>
		   <br/>
	   </h5>
     </div>
   </div>
   
  
 </div>

</div>