<div class="container-fluid" style="margin-left:20%;">

 <div class="row datas">
  
   <img src="images/automation.gif" class="img-fluid" width="50%" height="50%" style="margin-left:10%; margin-top:1%; cursor:pointer;"/>
  
  </div>

</div>