<div class="container-fluid mobs" style="margin-left:20%;">

 <div class="row datas">
 
   <div class="card demo" style="width:18rem; color:white; background-color: #072f63; border:1px solid #072f63 !important; cursor:pointer;">
     <img class="card-img-top" src="images/phone.jpg" >
     <div class="card-body">
       <h5 class="card-text text-center" id="statuses">
	       <span id="id"> Mobile Id: -</span>
		   <br/><br/>
	       <span class="text-info"> Value: </span>
		   <span id="state" class="text-success"> -</span>
		   <br/>
	   </h5>
     </div>
   </div>
   
 </div>

</div>