<div class="container-fluid" style="margin-left:20%;">

 <div class="row datas">
 
 <div class="col-sm-4 col-md-4 col-lg-4">
   
   <div class="card" style="width:18rem; color:white; background-color: #072f63; border:1px solid #072f63 !important; cursor:pointer;">
    

	 <img class="card-img-top" src="images/switch.jpg" width="60%" height="60%;">
     <div class="card-body">
       <h5 class="card-text text-center" id="statuses">
	       <span> Switch 1 - Maitidevi </span>
		   <span id="status3"> (Inactive) </span>
		   <br/><br/>
	       <span class="text-info"> Status: </span>
		   <span id="state3" class="text-success"> - </span>
		   <br/><br/>
		   <button type="button" class="btn btn-md btn-danger text-center" onclick="toggle()">Toggle</button>
		   <!--button type="button" class="btn btn-md btn-danger text-center" onclick="usage()">Usage</button--> 
	   </h5>
     </div>
   
   
   
   </div>
  
  </div>
  
  <div class="col-sm-8 col-md-8 col-lg-8">
  
   <div style="display:block; height:500px; overflow-y:scroll; position:relative;">
   <table class="table" style="width:65% !important;"> 
    <thead>
     <tr>
      <th scope="col">S.No.</th>
      <th scope="col">State</th>
      <th scope="col">Time</th>
     </tr>
    </thead>
    <tbody class="tdatas">
	</tbody>
   </table>
   </div>

  </div>
  
 </div>

</div>